<%include partials/header %>

  </header>
  <main class="container flex center">
    <div class="main form-h1">
      <h1>Income and Expanses</h1>
    </div>
    <div class="container">
        <%var totalIncome=0%>
        <%var totalExpanse=0%>

        
        <ul>
          <h2 class="green">Income</h2>
         
           <%income.forEach(income=>{%>
           
            <%totalIncome+=income.amount%>
            <div>
              <li>Sources: <%=income.source%></li> 
            
              <li>Amount: <%=income.amount%></li>  
            </div>     

           <%})%>
           <h2 class="green">Income of Current month:<%=totalIncome%></h2>
        </ul>
        

        <ul>
          <h2 class="red">Expanse</h2>
          <%expanse.forEach(expanse=>{%>
            <%totalExpanse+=expanse.amount%>

           <div>
             <li>Category: <%=expanse.category%></li> 
             <li>Amount: <%=expanse.amount%></li>  
           </div>     

          <%})%>
          <h2 class="red">Expanses of Current month:<%=totalExpanse%></h2>
       </ul>
       <h2 class="blue">Total Saving of the month: <%=totalIncome-totalExpanse%></h2>
    </div>
   
   

  </main>
  <%include partials/footer%>